*.a
*.la
*.lo
*.log
*.o
*.stamp
*.swp
*.trs
*~
.config.args
.deps/
.dirstamp
.libs/
/*.tar.xz
Makefile
Makefile.in
autom4te.cache/
aclocal.m4
build-aux/
config.h
config.h.in
config.log
config.status
configure
libtool
*.m4
!m4/attributes.m4
ratbagctl
ratbagd
stamp-*
ratbagd.service
