libratbag_references:
  build_dependencies: &build_dependencies
    FEDORA_DEP_BUILD: gcc gcc-c++ meson dbus-daemon glib2-devel json-glib-devel libevdev-devel libudev-devel libunistring-devel python3-devel python3-evdev swig
    FEDORA_DEP_TEST: check-devel python3-gobject python3-lxml valgrind diffutils
    FEDORA_DEP_DOC: python3-sphinx python3-sphinx_rtd_theme
    UBUNTU_DEP_BUILD: gcc g++ meson pkg-config systemd libevdev-dev libglib2.0-dev libjson-glib-dev libsystemd-dev libudev-dev libunistring-dev python3-dev python3-evdev swig
    UBUNTU_DEP_TEST: check python3-gi python3-lxml valgrind
    ARCH_DEP_BUILD: meson swig glib2 libevdev libudev.so libunistring json-glib python python-evdev python-gobject
    ARCH_DEP_TEST: check valgrind python-lxml
  default_settings: &default_settings
    working_directory: ~/libratbag
    environment:
      LANG: C.UTF-8
  build_default: &build_default
    name: Build
    command: |
      rm -rf build
      meson build ${MESON_PARAMS}
      meson configure build
      ninja -v -C build ${NINJA_ARGS}
    environment:
      MESON_PARAMS: --prefix=/usr
  build_buildtype_plain: &build_buildtype_plain
    run:
      <<: *build_default
      name: Build with buildtype plain
      environment:
        MESON_PARAMS: --prefix=/usr -Dbuildtype=plain
  build_buildtype_release: &build_buildtype_release
    run:
      <<: *build_default
      name: Build with buildtype release
      environment:
        MESON_PARAMS: --prefix=/usr -Dbuildtype=release
  build_and_test: &build_and_test
    run:
      <<: *build_default
      name: Build and test
      environment:
        NINJA_ARGS: test
  build_with_docs: &build_with_docs
    run:
      <<: *build_default
      name: Build with documentation
      environment:
        MESON_PARAMS: -Ddocumentation=true
  install: &install
    run:
      name: Installing
      command: ninja -C build install
  check_install: &check_install
    run:
      name: Checking installation
      command: |
        PREFIX=/usr/local/
        diff -u <(cd data/devices; ls *.device) <(cd $PREFIX/share/libratbag; ls *.device)
  check_uninstall: &check_uninstall
    run:
      name: Checking if any files are left after uninstall
      command: |
        PREFIX=/root/test_install
        meson build_install --prefix=$PREFIX
        ninja -C build_install install
        ninja -C build_install uninstall
        if [ -d $PREFIX ]
        then
          tree $PREFIX
          exit 1
        fi
  export_logs: &export_logs
    store_artifacts:
      path: ~/libratbag/build/meson-logs
  start_dbus: &start_dbus
    run:
      name: Start dbus daemon
      command: |
        mkdir /run/dbus
        /usr/bin/dbus-daemon --system --fork

save_date: &save_date
  run:
    name: Save date
    command: date +%F > /tmp/date

fedora_save_cache: &fedora_save_cache
  save_cache:
    key: fedora-cache-v1-{{ checksum "/tmp/date" }}
    paths:
      - /var/cache/dnf

fedora_fetch_cache: &fedora_fetch_cache
  restore_cache:
    keys:
      - fedora-cache-v1

fedora_install: &fedora_install
  run:
    name: Install prerequisites
    command: |
        echo keepcache=1 >> /etc/dnf/dnf.conf
        dnf install -y git ${FEDORA_DEP_BUILD} ${FEDORA_DEP_TEST}
        sed -i 's/systemd//' /etc/nsswitch.conf

fedora_settings: &fedora_settings
  <<: *default_settings
  steps:
    - *save_date
    - *fedora_fetch_cache
    - *fedora_install
    - checkout
    - *start_dbus
    - *build_and_test
    - *install
    - *check_install
    - *check_uninstall
    - *build_buildtype_plain
    - *build_buildtype_release
    - *export_logs
    - *fedora_save_cache
  environment:
    *build_dependencies

arch_save_cache: &arch_save_cache
  save_cache:
    key: arch-cache-v1-{{ checksum "/tmp/date" }}
    paths:
      - /var/cache/pacman/pkg

arch_fetch_cache: &arch_fetch_cache
  restore_cache:
    keys:
      - arch-cache-v1

arch_settings: &arch_settings
  <<: *default_settings
  steps:
    - *save_date
    - *arch_fetch_cache
    - run:
        name: Install prerequisites
        command: pacman -Syu --noconfirm --noprogressbar --needed base-devel git tree ${ARCH_DEP_BUILD} ${ARCH_DEP_TEST}
    - *start_dbus
    - checkout
    - *build_and_test
    - *install
    - *check_install
    - *check_uninstall
    - *export_logs
    - *arch_save_cache
  environment:
    *build_dependencies

ubuntu_settings: &ubuntu_settings
  <<: *default_settings
  steps:
    - run:
        name: Install prerequisites
        command: |
          export DEBIAN_FRONTEND=noninteractive
          apt-get update
          apt-get install -y git ${UBUNTU_DEP_BUILD} ${UBUNTU_DEP_TEST}
    - checkout
    - *start_dbus
    - *build_and_test
    - *install
    - *check_install
    - *check_uninstall
    - *build_buildtype_plain
    - *build_buildtype_release
    - *export_logs
  environment:
    *build_dependencies

doc_build: &doc_build
  <<: *default_settings
  steps:
    - *fedora_fetch_cache
    - *fedora_install
    - run:
        name: Install documentation build-deps
        command: dnf install -y ${FEDORA_DEP_DOC}
    - checkout
    - *build_with_docs
    - *export_logs
    - store_artifacts:
        path: ~/libratbag/build/doc/html
    - persist_to_workspace:
        root: build
        paths:
          - doc/html/*
  environment:
    *build_dependencies

docs_deploy: &docs_deploy
  <<: *default_settings
  steps:
    - *fedora_fetch_cache
    - run:
        name: Install prerequisites
        command: dnf install -y git tree
    - checkout
    - attach_workspace:
        at: build
    - run:
        name: Setup the deploy SSH key
        command: |
          ssh-add -L | tail -n1 > ~/.ssh/deploy.pub
          cat <<EOF > ~/.ssh/config
          Host github.com
            IdentityFile /root/.ssh/deploy.pub
            IdentitiesOnly yes
          EOF
    - run:
        name: Clone doc repository
        command: |
          cd ~
          git clone ssh://git@github.com/${CIRCLE_PROJECT_REPONAME}/${CIRCLE_PROJECT_REPONAME}.github.io
    - run:
        name: Copy the doc, commit and push
        command: |
          set +e
          cd ~/${CIRCLE_PROJECT_REPONAME}.github.io
          \cp -r ~/${CIRCLE_PROJECT_REPONAME}/build/doc/html/* .
          if ! git diff-index --quiet HEAD --; then
            git config --global user.email "libratbag@librabtag.github.io"
            git config --global user.name "The libratbag crew"
            git add .
            git commit -m "update docs from ${CIRCLE_SHA1}"
            git push
          fi

version: 2
jobs:
  fedora_32:
    <<: *fedora_settings
    docker:
      - image: fedora:32
  arch:
    <<: *arch_settings
    docker:
      - image: archlinux
  ubuntu_20_04:
    <<: *ubuntu_settings
    docker:
      - image: ubuntu:20.04
  doc_build:
    <<: *doc_build
    docker:
      - image: fedora:32
  doc_deploy:
    <<: *docs_deploy
    docker:
      - image: fedora:32


workflows:
  version: 2
  compile_and_test:
    jobs:
      - ubuntu_20_04
#      - arch
      - fedora_32
      - doc_build
      - doc_deploy:
          requires:
            - doc_build
          filters:
              branches:
                only: master
